.cta {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 50%,
    map-get($map: $colors-neutral, $key: very-dark-cyan) 50%
  );
  padding-top: 3em;
  padding-bottom: 3em;

  &__title {
    margin-bottom: 1.25em;
  }
}

@include for-tablet-landscape-up {
  .cta {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 60%,
      map-get($map: $colors-neutral, $key: very-dark-cyan) 60%
    );
  }
}
